## 학습목표
 1. pandas Series 이해하기

In [1]:
import numpy as np
import pandas as pd

#### **Series 값 변경**
  - 추가 및 업데이트: 인덱스를 이용
  - 삭제: drop함수 이용

In [3]:
s = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [4]:
s['a'] = 100
s

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [11]:
s['k'] = 300
s

a    100
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [12]:
s.drop('k') # drop : s 자체에는 영향을 미치지 않음, 원본 건들이지 않고 복사본을 만들어 반환함

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [13]:
s

a    100
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [14]:
s.drop('k', inplace = True) # inplace 파라미터로 복사본이 아니라 바로 적용
s

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [16]:
# multiple한 것 수정
s[['a', 'b']] = [300, 900]
s

a    300
b    900
c    102
d    103
e    104
dtype: int64

#### **Slicing**
 - 리스트, ndarray와 동일하게 적용

In [17]:
s1 = pd.Series(np.arange(100, 105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int64

In [18]:
s1[1:3] # 숫자 base 인덱스

1    101
2    102
dtype: int64

In [19]:
s2 = pd.Series(np.arange(100, 105), ['a', 'b', 'c', 'd', 'e'])
s2

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [20]:
s2[1:3] # 문자 index여도 숫자로 접근 가능

b    101
c    102
dtype: int64

In [21]:
s2 = pd.Series(np.arange(100, 105), ['a', 'c', 'b', 'd', 'e'])
s2

a    100
c    101
b    102
d    103
e    104
dtype: int64

In [22]:
s2[1:3]

c    101
b    102
dtype: int64

In [24]:
s2['c': 'd'] # 문자indexs는 slicing할 때 마지막도 포함시킴!!!

c    101
b    102
d    103
dtype: int64