## 학습목표
 1. list, tuple에 대해 이해 및 실습

### **리스트 & 튜플**
 * 복수개의 값을 담을 수 있는 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

#### **리스트 초기화**
 - [] 안에 값을 담아서 생성
 - list() 함수로 생성
 - str.split()함수로 생성

* **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

In [1]:
a = [] # 빈 리스트 생성
print(a)

[]

In [2]:
a = [1,2,3,5,10]
print(a)

[1, 2, 3, 5, 10]

In [3]:
a = ['korea', 'canada', 1, 23, [34, 56]]
print(a)

['korea', 'canada', 1, 23, [34, 56]]

+ **list() 함수**
 * 다른 데이터 타입을 리스트로 변환할 때도 사용

In [5]:
a = 'hello world'
b = list(a)
print(b)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [7]:
# 튜플 -> 리스트로
c = (1,2,3)
d = list(c)
print(d)

[1, 2, 3]

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환 (빈번히 사용 됨)

In [9]:
a = 'hellow world nice weather'
b = a.split() # 기본적으로는 띄어쓰기를 기준으로 문자열 구분
print(b)

['hellow', 'world', 'nice', 'weather']

#### **리스트 indexing**
 * 문자열의 인덱싱과 동일하게 동작
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [12]:
a = [1, 2, 3, 4, 5, 6]
print(a[3])
print(a[-1]) # 마지막 인덱스

4
6

#### **리스트 개별 아이템에 접근**
 - 인덱스에 접근하여 값을 업데이트 가능

In [21]:
# 문자열은 개별 인덱스 접근 x
a = 'hello world'
print(a[0]) # 첫 번째 문자

# a[0] = 'j' <- error 발생 : 문자열은 불변 객체, 한번 생성이 되면 절대 바뀌지 않음

b =  'jello world' # 방법 1. 새로운 문자열 다시 만들기(1)
c ='j' + a[1:] # 방법 2. 새로운 문자열 다시 만들기(2)
d = a.replace('h', 'j') # 방법 3. 문자열 치환, 결국엔 새로운 문자열임

print(a)
print(b, c, d)

h
hello world
jello world jello world jello world

In [20]:
# 문자열이 아닌 다른 자료형들은 인덱스로 접근 가능
a = [1,2,3,4,5]
a[0] = 100
a[-1] = 90

print(a)

[100, 2, 3, 4, 90]

#### **리스트 slicing**
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱의 결과 역시 list!

In [24]:
a = [1,2,3,4,5,6,7,8]
print(a[4:7]) # 시작 인덱스 ~ 끝 인덱스-1
print(a[:7])
print(a[3:])
print(a[:])

# sllicing
# start:end:increment(default=1)
a[1:7:2]

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

[2, 4, 6]

### list 멤버 함수
 - 생성된 리스트 객체에 동작하는 함수
 - 향후, 클래스와 멤버 함수 개념을 이해할 예정

* **append()**
 + 리스트의 끝에 항목을 추가함

In [26]:
a = [1, 2, 3, 4, 5]
a.append(10)

print(a)

[1, 2, 3, 4, 5, 10]

+ **extend()**
 * 리스트를 연장
 * += 로도 가능함

In [36]:
# 리스트를 합친다
a = [1,2,3,4,5]
b = [6,7,8,9,10]

# 리스트 자체가 추가된 것
# a.append(b) 
# print(a)
# print(a[5])

# 방법 1
#a.extend(b)

# 방법 2
a += b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능
 * 앞에 인덱스를, 뒤에 아이템을 명시

In [37]:
# append함수는 항상 마지막에 삽입
# insert함수는 원하는 위치에 추가

a = [1, 3, 4, 5, 6]
a.insert(1, 40)

print(a)

[1, 40, 3, 4, 5, 6]

+ **remove()**
 * 값으로 항목 삭제

In [40]:
a = [1, 2, 3, 4, 5]
a.remove(2) # 값으로 지움!!!! no 인덱스
print(a)

b = [1, 2, 30, 30, 5, 6]
b.remove(30) # 중복된 값이면 앞에 나오는 것 지움
print(b)

# 없는 값 지우려고 할 때  -> error!

[1, 3, 4, 5]
[1, 2, 30, 5, 6]

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제

In [44]:
# 인덱스로 지움!!
a = [1, 2, 3, 4, 5]
a.pop() # default값은 마지막 원소
print(a)

d = a.pop(2)
print(d)

[1, 2, 3, 4]
3

+ **index()**
 * 찾고자 하는 값의 인덱스 반환

In [46]:
a = [ 2, 6, 7, 8, 10]
a.index(10)
a.index(3) # 없는 원소이므로 오류

ValueError: 3 is not in list

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + True, False 중 한가지로 반환

In [47]:
a = [1, 2, 3, 4, 5, 10]
b = 7

c = b in a # False
print(c)

False

In [49]:
b = 2
c = b in a # True
print(c)

True

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬
 + sorted() -> 리스트의 정렬된 복사본을 반환

In [52]:
a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]

a.sort() # 오름차순
print(a)

a.sort(reverse=True) # 내림차순
print(a)

b = sorted(a)
print(a)
print(b)

[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]
[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]
[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

### **tuple**
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
 - 생성된 후 변경이 불가능

In [63]:
# multiple한 값을 다룰 때 유용

a = [1, 2, 3] # list
b = (1, 2, 3) # tuple

print(type(a))
print(type(b))

a[0] = 100
print(a)

b[0] = 100 
print(b) # error ! -> tuple은 바뀌지 않음

<class 'list'>
<class 'tuple'>
[100, 2, 3]

TypeError: 'tuple' object does not support item assignment

#### **tuple unpacking**
 - 튜플의 값을 차례대로 변수에 대입

In [58]:
a = (100, 200)
b = 100, 200 # 괄호 생각 가능
c, d, e, f = 100, 200, 300, 400 # 하나씩 대입 가능

print(type(a))
print(type(b))
print(a, b, c, d)

<class 'tuple'>
<class 'tuple'>
(100, 200) (100, 200) 100 200

* **연습문제** a와 b의 값을 교환하시오

In [62]:
a = 5
b = 4

# logic 1
# temp = a
# a = b
# b = temp

# logic 2
a, b = b, a

print(a, b)

4 5